/* =========================================== */
/* 整體設定 開始                               */
/* =========================================== */
body {
	background-image: url("../image/index_background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin:  0px;
	padding: 0px;
}

.imgBtn {
	width:  10%;
	height: 10%;
	cursor: pointer;  /* 改變滑鼠游標的形狀 */
}